# Private keys are machine-specific and thus ignored, but having a list of the
# public keys of my machines can be handy.
/id_*
!/id_*.pub

# known_hosts and public_hosts are public, but all the others are not.
/*_hosts
!/known_hosts
!/public_hosts
