# All the stuff in this directory is managed by minpac...
/opt/*/
/start/*/

# ..._except_ for the minpac directory itself which is used to submodule-clone minpac into new installations.
!/opt/minpac/
