[submodule ".vim/pack/timesheet/start/vim-timesheet"]
	path = .vim/pack/timesheet/start/vim-timesheet
	url = https://github.com/scy/vim-timesheet.git
[submodule "proj/autoborg"]
	path = proj/autoborg
	url = https://codeberg.org/scy/autoborg.git
[submodule ".vim/pack/tpope-markdown/start/markdown"]
	path = .vim/pack/tpope-markdown/start/markdown
	url = https://github.com/tpope/vim-markdown.git
