[user]
	name = Tim Weber
	email = scy@scy.name

[interactive]
	singlekey = true

[url "ssh://github.com/"]
	pushInsteadOf = https://github.com/

[alias]
	a = add
	ap = add --patch
	c = commit
	ca = commit --all
	cam = commit --amend
	caam = commit --all --amend
	cl = clone --recurse-submodules
	co = checkout
	d = diff
	ds = diff --staged
	ig = edit-ignore
	l = log
	lp = log --patch
	p = push
	s = status

[pull]
	# `git pull` should use `rebase` with `--rebase-merges` instead of doing a merge commit.
	# This only makes sense if nobody else is working on top of your history before you've pushed
	# it to the same repo you're pulling from.
	rebase = merges
