# Default folders on macOS.
/.Trash/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# More macOS stuff.
**/.DS_Store

# History files.
/.bash_history
/.lesshst
