# Default folders on macOS.
/.Trash/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# Wikis, synced dirs etc.
/b17
/my
/w

# Storage symlink on Termux.
/storage/

# More macOS stuff.
**/.DS_Store

# Local bashrc.
/.bashrc.local

# Cache.
/.cache/

# History files.
/.bash_history
/.lesshst
/.mysql_history
/.node_repl_history
/.python_history
/.sqlite_history

# autoborg configs.
/.autoborg/
/.*.autoborg/

# Backblaze B2 credentials.
/.b2_account_info

# Git's local config (included by my ~/.gitconfig).
/.gitconfig-local

# Git credentials (see credential.helper=store in .gitconfig).
/.git-credentials

# Composer keys and old versions.
/.composer/*-old.phar
/.composer/keys.*.pub

# Drush cache.
/.drush/cache/

# PulseAudio auth.
/.esd_auth

# Firefox.
/.mozilla/

# npm stuff, mainly cache and logs. I'll ignore more specifically as soon as I need it.
/.config/configstore/update-notifier-npm.json
/.npm/

# Python stuff.
/.pylint.d/*.stats

# Visual Studio Code Remote code and data.
/.vscode-remote/
/.vscode-server/
/.vscode-server-insiders/
# PHP language server.
/.phpls/

# Vim stuff.
/.viminfo

# wget's HSTS database.
/.wget-hsts

# The xsel log file.
/.xsel.log

# Lots of (probably) default Gnome or Fedora stuff.
/.config/dconf/
/.config/dleyna-renderer-service.conf
/.config/evolution/
/.config/gnome-control-center/
/.config/gnome-initial-setup-done
/.config/gtk-3.0/
/.config/ibus/
/.config/monitors.xml*
/.config/pulse/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/yelp/
/.local/share/containers/
/.local/share/evolution/
/.local/share/flatpak/
/.local/share/folks/
/.local/share/gnome-settings-daemon/
/.local/share/gnome-shell/
/.local/share/gsettings-data-convert
/.local/share/gvfs-metadata/
/.local/share/icc/
/.local/share/keyrings/
/.local/share/recently-used.xbel
/.local/share/tracker/
/.local/share/webkitgtk/
