[user]
	name = Tim Weber
	email = scy@scy.name

[interactive]
	singlekey = true

[alias]
	a = add
	ap = add --patch
	c = commit
	ca = commit --all
	cam = commit --amend
	caam = commit --all --amend
	d = diff
	ds = diff --staged
	l = log
	lp = log --patch
	s = status
