* {
	font-family: "Iosevka Term",sans-serif;
	font-size: 13px;
	min-height: 0;
}

window {
	background: rgba(28, 27, 25, .2);
	color: rgb(186, 166, 127);
}

#workspaces, .modules-right {
	background: rgba(28, 27, 25, .5);
}

.modules-right label {
	margin-left: 8px;
	padding: 0 5px;
}

#workspaces button {
	padding: 0;
	border-radius: 0;
	color: rgb(186, 166, 127);
}

#workspaces button.visible {
	background: rgba(28, 27, 25, .8);
	color: rgb(252, 232, 195);
	border: 1px solid rgba(252, 232, 195, .5);
}

#battery.charging {
	background: rgba(81, 159, 80, .5);
}

#battery.plugged {
	background: rgba(44, 120, 191, .5);
}

#network.disconnected {
	background: rgba(251, 184, 41, .5);
}

#pulseaudio.sink-muted {
	background: rgba(145, 129, 117, .5);
}
